<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <%- include('../partials/head'); -%>
</head>
<body>

<%- include('../partials/nav'); -%>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div id="trackerMenu">
      <% for (let tracker of trackers) { %>
        <p><a class="tracker" data-id="<%= tracker.id %>" href="#"><%= tracker.name %></a></p>
      <% } %>
      </div>
    </div>
    <div class="col-sm-8 text-left"> 
      <form id="trackerForm">
        <div class="form-group">
          <input type="hidden" id="trackerId" name="id" value=""/>
          <label for="trackerName">Name</label>
          <input type="text" class="form-control" id="trackerName" name="name"
            aria-describedby="trackerNameHelp" placeholder="Enter Name">
          <small id="trackerNameHelp" class="form-text text-muted">
            A useful name for the tracker.
          </small>
        </div>
        <div class="form-group">
          <label for="trackerDescription">Description</label>
          <textarea class="form-control" id="trackerDescription" name="description" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="trackerScale">Weight Scale</label>
          <select class="form-control" id="trackerScale" name="scale">
            <option value="5ptGradient">5 Point Gradient</option>
            <option value="3ptGradient">3 Point Gradient</option>
            <option value="0to10">0 to 10</option>
          </select>
        </div>
        <button id="update" type="button" class="btn btn-primary">Update</button>
        <button id="button" type="button" class="btn btn-tertiary">Delete</button>
      </form>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer'); -%>
<script type='text/javascript'>
  $(document).ready(function(){
    $('button#update').on('click', function(event) {
      data = $('#trackerForm').serializeArray();
      $.ajax({
        url: "/trackers/"+data[0].value,
        type: 'PUT',
        dataType: "json",
        data: data
      });
    });

    $('a.tracker').on('click', function (event) {
      console.log('clicked ' + $(this).data('id'));

      $.ajax({
        url: "/trackers/"+$(this).data('id'),
        type: 'GET',
        dataType: "json",
        success: function(data) {
          $('#trackerId').val(data.id);
          $('#trackerName').val(data.name);
          $('#trackerDescription').val(data.description);
          $('#trackerScale').val(data.scale);
        }
      });
    });

  });

</script>
</body>
</html>
