<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <%- include('../partials/head'); -%>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
  <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
</head>
<body>

<%- include('../partials/nav'); -%>
  
  <main role="main" class="container">
    <div class="row">
      <div class="col sidenav">
        <div id="trackerMenu">
          <span>
        <% for (let tracker of trackers) { %>
            <p><a class="tracker" data-id="<%= tracker.id %>" href="#"><%= tracker.name %></a></p>
        <% } %>
          </span>
          <div id="newTracker">
            <hr/>
            <p><a class="new-tracker" href="#">Add New Tracker</a></p>
          </div>
        </div>
      </div>
      <div class="col-8"> 
        <div class="trackerDetails">
          <form id="trackerForm">
            <div class="form-group">
              <input type="hidden" id="trackerId" name="id" value=""/>
              <label for="trackerName">Name</label>
              <input type="text" class="form-control" id="trackerName" name="name"
                aria-describedby="trackerNameHelp" placeholder="Enter Name">
              <small id="trackerNameHelp" class="form-text text-muted">
                A useful name for the tracker.
              </small>
            </div>
            <div class="form-group">
              <label for="trackerDescription">Description</label>
              <textarea class="form-control" id="trackerDescription" name="description" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="trackerScale">Weight Scale</label>
              <select class="form-control" id="trackerScale" name="scale">
                <option value="5ptGradient">5 Point Gradient</option>
                <option value="3ptGradient">3 Point Gradient</option>
                <option value="0to10">0 to 10</option>
              </select>
            </div>
            <button id="create" type="button" class="btn btn-primary">Create</button>
            <button id="update" type="button" class="btn btn-primary" style="display: none">Update</button>
            <button id="delete" type="button" class="btn btn-secondary" style="display: none">Delete</button>
          </form>
        </div>
        <div id="entries">
          <span>&nbsp;</span>
          <table id="entriesTable" data-toggle="table" style="display: none">
            <thead>
              <tr>
                <th data-field="id">ID</th>
                <th data-field="date">Entry Date</th>
                <th data-field="note">Note</th>
                <th data-field="grade">Grade</th>
              </tr>
            </thead>
          </table>
          <span>&nbsp;</span>
          <div>
            <button id="add-entry" type="button" data-toggle="modal" data-target="#entryModal" class="btn btn-primary" style="display: none">Add Entry</button>
            <div class="modal" id="entryModal" tabindex="-1" role="dialog" aria-labelledby="entryModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="entryModalLabel">New Tracked Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="entryForm">
                      <div class="form-group">
                        <label for="entry-date" class="col-form-label">Date:</label>
                        <input type="date" class="form-control" id="entry-date">
                      </div>
                      <div class="form-group">
                        <label for="entry-grade" class="col-form-label">Grade:</label>
                        <select class="form-control" id="entry-grade" name="grade">
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="entry-note" class="col-form-label">Note:</label>
                        <textarea class="form-control" id="entry-note"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <%- include('../partials/ads'); -%>
      </div>
    </div>
  </main>

<%- include('../partials/footer'); -%>
<script src="/javascripts/entries/entries.js"></script>
<script src="/javascripts/trackers/trackers.js"></script>
</body>
</html>
